{% extends "layout.twig" %}

{% block content %}

CREATE NEW LIST:
<form name="input" action="/create" method="post">
List name: <input type="text" name="listname" />
<input type="submit" value="Add" />
<input type="radio" name="type" value="milk" />Milk<br />
<input type="radio" name="type" value="veg" />Vegetables<br />
<input type="radio" name="type" value="beer" />Beer<br />

</form>

{% endblock %}