{% extends "layout.twig" %}

{% block content %}

CREATE NEW LIST:
<form name="input" action="/create" method="post">
List name: <input type="text" name="listname" />
<input type="submit" value="Add" />
</form>

{% endblock %}